/*
#0060a1

P — Light

#508dd3

P — Dark

#003772
*/
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans");

/* TV-specific */
body {
	font-family: "IBM Plex Sans", sans-serif;
	background: white;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.main {
	margin: 15px;
}

h5 {
    margin-bottom: 5px;
    display: inline-block;
}

#last_updated {
	font-size: small;
    float: right;
}

/* Table */

table {
	/* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
	table-layout: auto;
	border-radius: 10px;
}

table thead {
	background: #003772;
	border-radius: 105px;
}

table th:first-child {
	border-top-left-radius: 10px;
}

table th:last-child {
	border-top-right-radius: 10px;
}

table thead th {
	font-size: 1rem !important;
	padding: 5px !important;
	padding-left: 20px !important;
	width: 1%;
	color: white !important;
	border: none !important;
}

table tbody tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}

table tbody tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}

.hidden {
	display: table-cell;
}

table td {
	white-space: nowrap;
	padding: 5px !important;
	text-align: left;
	padding-left: 20px !important;
	font-family: IBM Plex Sans, sans-serif;
	font-size: 1rem;
	border: none !important;
}

table td:first-child:not(.noCellBg) {
	border-right: solid 2px #003772 !important;
}

table td:last-child {
	width: 100% !important;
}

/* Table stripes */

table.table-striped > tbody > tr:nth-child(2n + 1) > td,
.table-striped > tbody > tr:nth-child(2n + 1) > th {
	background-color: #a2c6f018;
}

table:not(.table_chybejici).table-striped > tbody > tr:nth-child(2n) > td,
.table-striped > tbody > tr:nth-child(2n) > td {
	background-color: white;
}

/* Footer */

.backlink {
	background-color: #0060a1;
	color: white;
	border-radius: 0px 0px 5px 5px;
}

.glyph {
	width: 15px;
}
