/*
Main color: #0060A1;
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* TV-specific */
body {
	background: white;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

.main {
	margin: 15px;	
}

h4 {
	margin-bottom: 0;
}

.aktualizace {
	font-size: small;
}

/* Table */

table {
	box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
	border-style: hidden;
	table-layout: auto;
	border-radius: 5px;
}

table thead {
	border-top: 3px solid #0060A1;
}

table thead th {
	font-size: 0.7rem !important;
	width: 1%;
}

.hidden {
	display: table-cell;
}

table td {
	white-space: nowrap;
	padding: 5px !important;
	text-align: left;
	font-family: "Tahoma";
	font-size: 0.9rem;
}

table:not(.table_chybejici) td:last-child {
	width: 100% !important;
}

/* Table stripes */

table:not(.table_chybejici).table-striped>tbody>tr:nth-child(2n+1)>td:not(.noCellBg), .table-striped>tbody>tr:nth-child(2n+1)>th {
	background-color: #0061a127;
}

/* Footer */

.backlink {
	background-color: #0060A1;
	color: white;
	border-radius: 0px 0px 5px 5px;
}

.glyph {
	width: 15px;
}