table {
	table-layout: auto;
	border-collapse: collapse;
	width: 100%;
	margin: 0px auto;
	float: none;
}

table th {
	background-color: #2d548d !important;
}

table td {
	border: 1px solid #ccc;
	height: 10px;
}

table tr {
	white-space: nowrap;
}

table td:last-child() {
	width: 100%;
}

/*
Main color: #2d548d
*/